<div class="navbar navbar-dark navbar-toggleable-sm hidden-sm-down">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul id="nav-links" class="nav navbar-nav text-xs-center mr-auto">
      <li class="nav-item">
        <a class="smooth text-uppercase" [routerLink]="['/']"> Search</a>
      </li>
      <li class="nav-item">
        <a class="smooth text-uppercase" [routerLink]="['/search/']"> Super Search</a>
      </li>
      <li class="nav-item">
        <a class="smooth text-uppercase" [routerLink]="['/random']"> Random Profile</a>
      </li>
      <li class="nav-item">
        <a class="smooth text-uppercase" [routerLink]="['/birthdays']"> Birthdays</a>
      </li>
    </ul>
  </div>
</div>
