@media screen and (min-width: 800px) {
  .modal-adaptive .modal-lg {
      width: 80%;
      height: 90%;
      max-width: calc(80%);
      max-height: calc(90%);
  }
}

.modal-backdrop {
  background-color: rgb(20, 20, 20);
}

.modal-body {
  max-height: calc(100vh - 130px);
  overflow-y: auto;
}

::-webkit-scrollbar {
  background-color: black; /* removes scrollbar space*/
}

::-webkit-scrollbar-thumb {
  background: gray;
}

/* removes horizontal line */
.modal-header {
  border-bottom: 0 none;
  background-color: #0a0a0a;
}

.modal-footer {
  border-top: 0 none;
  background-color: #0a0a0a;
}
