@media screen and (min-width: 800px) {
  .modal-adaptive .modal-lg {
      width: 80%;
      height: 90%;
      max-width: calc(80%);
      max-height: calc(90%);
  }
}

.modal-backdrop {
  background-color: rgb(20, 20, 20);
}

.modal-dialog {
  margin-top: 0;
}

.modal-body {
  max-height: calc(100vh - 100px);
  overflow-y: auto;
}

/* removes horizontal line */
.modal-header, .modal-footer {
  border-bottom: 0 none;
  border-top: 0 none;
  background-color: #262626;
}
