<div *ngIf="profile" class="profile profile-full row">
  <div class="col-sm-12 col-md-6">
    <img class="img-fluid" src='{{getPhotoLink(profile.photo)}}'>
  </div>
  <div class="col-sm-12 col-md-6">
    <h1 class='text-capitalize text-white'>{{profile?.full_name | unescape}} <span *ngIf="profile?.year != CURRENT_YEAR">({{profile.year}})</span></h1>
    <hr>
    <p *ngFor="let key of fieldsInOrder">
      <span *ngIf="profile[key]">
        <i class="text-muted text-capitalize">{{displayKey(key)}}</i>
        <!-- TODO: Add some code here that will generate appropriate links for phone and email etc... -->
        <h5 class="info">
          <span *ngFor="let attribute of profile[key].split(','); let last = last;">
            <br>
            <a class="text-white" [routerLink]="['/search', key + '=' + attribute]">{{attribute + (last ? "" : ",") | unescape}}</a>
          </span>
        </h5>
      </span>
      <!--TODO: Don't show fields such as department and office hours for students-->
    </p>
    <p>
      <a *ngIf="!isLoggedOn()" class="btn btn-primary" [href]="getSamlLink()">Login to view full profile</a>
    </p>
  </div>
</div>
