.profile .profile-full {
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	position: relative;
	overflow: hidden;
}

.info {
	display: inline;
	font-weight: normal;
}

.info a {
	/* TODO: Change when the background is added */
	color: white;
	text-decoration: none;
	border-bottom: 1px solid transparent;
}

.info a:hover {
	border-bottom-color: black;
}

h1 {
	color: white;
}