.contain {
    float: right;
    clear: none;
    width: 50px;
}
/* image */
.btn-circle {
    width: 50px;
    height: auto;
    text-align: center;
    padding: 0;
    font-size: 24px;
    line-height: 1.42;
    border: none;
    color: #336699;
    cursor: pointer;
}
/* container */
#bubbleicon {
    background-color: transparent;
    border: none;
    color: transparent;
    z-index: 1;
    border-radius: 50%;
    border: none;
    padding: 0;
    overflow: hidden;
    height: 50px;
    width: 50px;
}
.dropdown-menu {
    width: 150px;
    position: absolute;
}
#bubble-popup{
    height: 50px;
}
