<div class="container-fluid">
  <div class="align-items-center" (keyup.enter)="runSearch()" style="margin-left:auto;margin-right:auto;">
    <br />
    <div class="row justify-content-center">
      <input id="mask-search-query" class="search-area-element col form-control" [(ngModel)]='typedQuery' (ngModelChange)="addFirstResult()" (selectItem)="runSearch($event)" [ngbTypeahead]="typeaheadSearch" [resultFormatter]="typeaheadFormatter" type="text" placeholder="Find the one...">
      <button id="mask-search-button" class="search-area-element col-1 form-control" (click)="runSearch()"><i class="fas fa-search"></i></button>
    </div>
  </div>
  <div>
      <search-results [query]='searchQuery'></search-results>
  </div>
</div>
