#mask-search-button {
  border-left: 0px;
  transform: translateX(-2px);
  padding-left: 15px;
  padding-right: 15px;
}
#mask-search-button:hover {
  background-color: black;
  color: grey;
}

/* for mobile */
#search-area {
  height: 90%;
  padding-left: 30px;
  padding-right: 30px;
}
#results {
  text-align: center;
  margin-top: 20px;
}
@media only screen and (min-aspect-ratio:3/4) and (min-height:700px) {
  /* for desktop */
  #search-area {
    height: 50%;
  }
  #results {
    /* visibility: hidden; */
    display: none;
  }
}

.search-area-element {
  font-family: 'Raleway', sans-serif;
  color: black;
  transition: color .2s, background-color .2s;
  font-weight: bold;
  background-color: transparent;
  padding-top: 12px;
  padding-bottom: 12px;
  max-width: 400px;
  border: 1px solid black;
  border-radius: 0px;
  box-shadow: inset 0px 0px 0px 2px black;
}
.mask-search-query::-webkit-input-placeholder {
  color: black;
}
.form-control::placeholder-shown {
  color: black;
}
.form-control::placeholder {
  color: black;
}
.form-control::moz-placeholder {
  color: black;
}
/* add this for other browsers */

.parallax-window {
  height: 400px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 50px;
  padding-bottom: 50px;
}
.text-giant {
  font-size: 100px;
  font-weight: 700;
  text-align: center;
}
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-fluid {
  padding: 0px;
}
