<div class="container-fluid">

    <!-- <div id="search-area" class="row align-items-center"> -->
    <div id="search-area" class="parallax-window center-content"
         style="background-image: url('https://static.wixstatic.com/media/de317edf9480039c6c4d425f78b91e1c.png/v1/crop/x_0,y_0,w_330,h_331/de317edf9480039c6c4d425f78b91e1c.png'); background-repeat: repeat;background-size:initial; background-color:#99d7ea;">

        <div class="align-items-center" (keyup.enter)="runSearch()" style="margin-left:auto;margin-right:auto;">
            <h1 class="text-white text-uppercase text-giant mx-auto">THE MASK</h1>
            <br>
            <input id="mask-search-query" class="form-control mx-auto" [(ngModel)]='typedQuery' (ngModelChange)="addFirstResult()" [ngbTypeahead]="typeaheadSearch" type="text" placeholder="Find the one...">
            <button class="btn btn-primary" (click)="searchQuery = typedQuery">Search</button>
            <br>
            <h3 id="results" class="text-white text-uppercase mx-auto">↓results↓</h3>
        </div>
    </div>
    <div>
        <search-results [query]='searchQuery'></search-results>
    </div>
</div>
