<!-- <div id="collapseExample" [ngbCollapse]="isCollapsed">
  <div class="card">
    <div class="card-body">
      You can collapse this card by clicking Toggle
    </div>
  </div>
</div> -->

<!-- <div class="hidden-md-up collapse" id="navbarSupportedContent">
  <ul _ngcontent-c1="" class="nav navbar-nav text-xs-center mr-auto bg-inverse" id="nav-links">
    <li _ngcontent-c1="" class="nav-item mobile-nav-item">
      <a _ngcontent-c1="" class="smooth text-uppercase" ng-reflect-router-link="/" href="/"> ASWWU</a>
    </li>
    <li _ngcontent-c1="" class="nav-item mobile-nav-item">
      <a _ngcontent-c1="" class="smooth text-uppercase" ng-reflect-router-link="/" href="/">Mask</a>
    </li>
    <li _ngcontent-c1="" class="nav-item mobile-nav-item">
      <a _ngcontent-c1="" class="smooth text-uppercase" href="#">upcoming</a>
    </li>
  </ul> -->
  
  <!-- <ul _ngcontent-c1="" class="nav navbar-nav text-xs-center mr-auto bg-inverse" id="nav-links">
    <li _ngcontent-c1="" class="nav-item">
      <a _ngcontent-c1="" class="smooth text-uppercase" ng-reflect-router-link="/" href="/"> ASWWU</a>
    </li>
    <li _ngcontent-c1="">
      <a _ngcontent-c1="" class="smooth text-uppercase" ng-reflect-router-link="/" href="/">Mask</a>
    </li>
    <li _ngcontent-c1="" class="hidden-xs-down">
      <a _ngcontent-c1="" class="smooth text-uppercase" href="#">upcoming</a>
    </li>
    <li _ngcontent-c1="" class="hidden-xs-down">
      <a _ngcontent-c1="" class="smooth text-uppercase" href="https://aswwu.com/atlas">Atlas</a>
    </li>
    <li _ngcontent-c1="" class="hidden-sm-down">
      <a _ngcontent-c1="" class="text-uppercase" href="#">Things to do </a>
    </li>
    <li _ngcontent-c1="" class="hidden-sm-down">
      <a _ngcontent-c1="" class="smooth text-uppercase" href="#">Gear</a>
    </li>
    <li _ngcontent-c1="" class="dropdown">
      <div _ngcontent-c1="" class="d-inline-block" ngbdropdown="">
        <button _ngcontent-c1="" aria-haspopup="true" class="btn btn-outline-primary text-uppercase dropdown-toggle" id="dropdownMenu1" ngbdropdowntoggle="" aria-expanded="false">More</button>
        <div _ngcontent-c1="" aria-labelledby="dropdownMenu1" class="dropdown-menu bg-inverse">
          <a _ngcontent-c1="" class="dropdown-item smooth text-uppercase hidden-sm-up" href="#">upcoming</a>
          <a _ngcontent-c1="" class="dropdown-item smooth text-uppercase hidden-sm-up" href="https://aswwu.com/atlas">Atlas</a>
          <a _ngcontent-c1="" class="dropdown-item smooth text-uppercase hidden-md-up" href="#">Things to do </a>
          <a _ngcontent-c1="" class="dropdown-item smooth text-uppercase hidden-md-up" href="#">Gear</a>
          <a _ngcontent-c1="" class="dropdown-item text-uppercase smooth" href="#">Global Service</a>
          <a _ngcontent-c1="" class="dropdown-item text-uppercase smooth" href="#">SM/AC map</a>
          <a _ngcontent-c1="" class="dropdown-item text-uppercase" href="https://aswwu.com/uploads/ASWWU/ASWWU-Application-2016-2017.docx">Work for ASWWU</a>
        </div>
      </div>
    </li>
  </ul> 
</div> -->
