.possible-photo-container {
  margin: 10px;
}
.possible-photo>img {
  max-width: 100px;
  padding: 3px;
}
.col-md-6 {
  padding: 25px;
}
.selected-photo {
  border: solid 2px #89f442;
}

/* small screen */
#edit-profile {
  margin: auto;
}
#preview {
  display: none;
}

/* mid screen */
@media only screen and (min-aspect-ratio:3/5) {
  #edit-profile {
    min-width: auto;
    min-width: 700px;
  }
}

/* large screen */
@media only screen and (min-aspect-ratio:3/2) {
  #edit-profile {
    min-width: inherit;
    max-width: 1000px;
  }
  #preview {
    border-left: solid 2px black;
    display: inline;
  }
}
