hr {
  margin-top: 2.75em;
  margin-bottom: 2.25em;
  max-width: 100px;
  border-width: 5px;
  border-color: #dddddd;
}
select, input {
  width: 100%;
  height: 38px;
  margin-top: 2px;
}

.col-md-6 {
  padding: 25px;
}
.possible-photo-container {
  margin: 10px;
}
.possible-photo>img {
  max-width: 100px;
  margin: 8px;
}
.selected-photo {
  box-shadow: 0 0 0 3px #dddddd;
}
.field-title {
  color: #dddddd;
}

#submit {
  margin-left:13px;
  margin-bottom: 6px;
}
/* small screen */
#edit-profile {
  margin: auto;
}
#preview {
  display: none;
}
/* mid screen */
@media only screen and (min-aspect-ratio:3/5) {
  #edit-profile {
    min-width: auto;
    min-width: 700px;
  }
}
/* large screen */
@media only screen and (min-aspect-ratio:3/2) {
  #edit-profile {
    min-width: inherit;
    max-width: 1000px;
  }
  #preview {
    border-left: solid 1px black;
    display: inline;
  }
}
