<div *ngIf="isLoggedOn()" class="row">
  <div id="edit-profile" class="col-md-6">
    <h1 id="left-header-title" class="text-white">Profile Info</h1>
    <hr class="top-hr">

    <!-- Profile photo options -->
    <div class="row possible-photo-container">
      <br>
      <div *ngFor="let url of possiblePhotos" class="possible-photo .col-sm-12" (click)="changePhoto(url); justClicked = url;">
        <img src="{{ this.getPhotoLink(url) }}" class="rounded selected-photo" [class.checked]="url.split('/').pop() == fullProfile.photo.split('/').pop()" [ngClass]="{'selected-photo': justClicked == url }">
      </div>
    </div>

    <!-- Input fields -->
    <div *ngFor="let section of sections;">
      <hr>
      <div class="row">
        <div *ngFor="let field of section;" class="col-md-6 pb-2 pt-2">
          <div *ngIf="!(field == 'department' || field == 'office' || field == 'office_hours' )" class="text-white text-capitadivze">
            <i class="text-capitalize field-title">{{field.split('_').join(' ')}}</i>
          </div>
          <input *ngIf="!searchables.hasOwnProperty(field) && !selectables[field] && !(field == 'department' || field =='office' || field == 'office_hours' )" type="text" class="form-control" id="{{field+'input'}}" [(ngModel)]="fullProfile[field]">
          <div *ngIf="searchables.hasOwnProperty(field)">
            <input [attr.list]="field" class="form-control" [(ngModel)]="fullProfile[field]">
            <datalist id="{{field}}">
              <option *ngFor="let options of searchables[field]" [value]="options">{{options}}</option>
            </datalist>
          </div>
          <select *ngIf="selectables.hasOwnProperty(field)" class="form-control" [(ngModel)]="fullProfile[field]">
            <option *ngFor="let options of selectables[field]" [value]="field == 'privacy' ? selectables[field].indexOf(options) : options">{{options}}</option>
          </select>
        </div>
      </div>
    </div>

    <!-- Submit button -->
    <div id="submit">
      <button class="btn btn-primary" (click)="UploadProfile()">Update Profile</button>
    </div>
  </div>

  <!-- Profile preview -->
  <div class="col-md-6" id="preview">
    <h1 class="text-white">Profile Preview</h1>
    <hr class="top-hr">
    <profile-full [profile]="fullProfile"></profile-full>
  </div>
</div>

<!-- Not logged in prompt -->
<div *ngIf="!isLoggedOn()">
  <h1 class="text-white">Hmm... You aren't logged in.</h1>
  <a class="btn btn-primary" href="https://saml.aswwu.com/?redirectURI=/mask/update">Log in</a>
</div>
