/* You can add global styles to this file, and also import other style files */

/* #aswwuFooter {
    border-radius:0;
    position:fixed;
    bottom:0px; width:100%
} */

body {
    background-color: black;
    max-width: 100% !important;
    overflow-x: hidden !important;
}

html {
    max-width: 100% !important;
    overflow-x: hidden !important;
}
