/* You can add global styles to this file, and also import other style files */

#aswwuFooter {
    border-radius:0;
    position:fixed;
    bottom:0px; width:100%
}

.footerContainer {
  position:relative;
  display:inline-block;
  height:100%;
}

@media only screen and (max-width:768px) {
  .mobile-hide {
    width:0 !important;
    display: none !important;
  }
}
