/*Nav*/
#nav-links {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 300;
}

#nav-links li {
  display: inline-block;
  float: none;
  border-right: 1px solid white;
  padding: 0 16px 0 16px;
}
#nav-links li:nth-last-child(1) {
  border-right: none;
}
#nav-links li a {
  font-family: var(--font-2);
  color: white;
  transition: color .2s, background-color .2s;
}
#nav-links li a:hover {
  color: grey;
  text-decoration: none;
}
.navbar {
  border-radius: 0;
}
.dropdown {
  /* Sub navbar has z-index: 1030 and these should be above that. */
  z-index: 1050;
}
.dropdown div button {
  all: initial;
  border:0px;
  font-family: var(--font-2);
  color: white;
  transition: color .2s, background-color .2s;
}

.dropdown div button :hover {
  all: initial;
  color: grey;
  text-decoration: none;

}


/* Breakpoint for sticky mobile-nav */
@media only screen and (max-width: 768px) {
  nav {
    position: sticky !important;
    top: 0 !important;
    z-index: 1 !important;
  }
}
