@import 'https://fonts.googleapis.com/css?family=Dosis:300,400|Pacifico|Raleway:400,700';

/*Nav*/
#nav-links {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 300;
}

#nav-links li {
  display: inline-block;
  float: none;
  border-right: 1px solid white;
  padding: 0 16px 0 16px;
}
#nav-links li:nth-last-child(1) {
  border-right: none;
}
#nav-links li a {
  font-family: 'Dosis', sans-serif;
  color: white;
  transition: color .2s, background-color .2s;
}
#nav-links li a:hover {
  color: grey;
  text-decoration: none;
}
.navbar {
  border-radius: 0;
}

#dropdownMenu1 {
  all: initial;
  border:0px;
  font-family: 'Dosis', sans-serif;
  color: white;
  transition: color .2s, background-color .2s;
}

#dropdownMenu1 :hover {
  all: initial;
  color: grey;
  text-decoration: none;

}

/* mobile nav */
.mobile-nav-links li {
  border-style:none !important;
}

.mobile-nav-item {
  font-size: 1.5rem;
  font-weight: 500;
}

.mobile-scrollable-menu {
  z-index: 2;
  height:100vh;
  overflow-y: auto;
  position: fixed;
  /* width: 90%; */

}

/* mobile nav menu animation */
.collapse.mobile-scrollable-menu, .collapse.show {
  display: block !important;
  transition: all .25s ease-in-out;
}

.collapse.mobile-scrollable-menu{
 opacity: 0;
 width: 0;
}

.collapse.show {
  opacity: 1;
  width: 90%;
}